<app-loading *ngIf=loadingArtista></app-loading>

<div class="row" *ngIf=!loadingArtista>
    <div class="col-2">
        <img [src]="artista.images|noIMG  " alt="imagen del artista" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la pagina del artista</a>
        </p>
    </div>
    <div class="col-4">
        <button class="btn btn-outline-danger" [routerLink]="['/search']">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table" style="color:white">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of tracks">
                    <td><img [src]="x.album.images|noIMG " alt="imagen de tracks" class="img-thumb"></td>
                    <td>{{ x.album.name }}</td>
                    <td>{{x.name}}</td>
                    <td><audio [src]=" x.preview_url" controls></audio></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>